h2 {
    color: red;
    font-family: "Lucida Grande", Arial, sans-serif;
}

p {
    color: darkmagenta;
}

h1{
    text-align: center;
    color: mediumspringgreen;
}

.supplies{
    font-family: cursive;
    color: blueviolet;
}

#heads h1{
    color: black;
}

.okayPets{
    font-size: large;
    color: chartreuse;
}
img {
    display: block;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

.centerText {
    text-align: center;
}

#Navs {
    background-color: yellowgreen;
}

#heads, #feet {
    background-color: aqua;
}
